{% extends 'base.html.twig' %}

{% block title %}New VTT{% endblock %}

{% block body %}
    <h1>Create new VTT</h1>

    {{ include('admin/vtt_crud/_form.html.twig') }}

    <a href="{{ path('vtt_crud_index') }}">back to list</a>
{% endblock %}
