{% extends 'base.html.twig' %}

{% block title %}Edit Sommet{% endblock %}

{% block body %}
<a href="{{ path('sommet_index') }}" class="link"><i class="fas fa-arrow-left mr-2"></i>Retour</a>
    <h1>Modifier le sommet</h1>

    {{ include('commons/admin-edit-add-form.html.twig', {'button_label': 'Valider'}) }}

    {% include 'commons/show-form-action.html.twig' with {
        'confirm_string': 'Voulez-vous vraiment supprimer ce sommet', 
        'delete_path': 'sommet_delete',
        'entity_id': sommet.id
        }
    %}

{% endblock %}
