{% extends 'base.html.twig' %}

{% block title %}Edit Electric{% endblock %}

{% block body %}
    <h1>Edit Electric</h1>

    {{ include('admin/electric_crud/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('electric_crud_index') }}">back to list</a>

    {{ include('admin/electric_crud/_delete_form.html.twig') }}
{% endblock %}
