{% extends 'base.html.twig' %}

{% block title %}Edit Electric{% endblock %}

{% block body %}
<a href="{{ path('velo_crud_index') }}" class="link"><i class="fas fa-arrow-left mr-2"></i>Retour</a>
    <h1>Modifier le vélo électrique</h1>

    {{ include('commons/admin-edit-add-form.html.twig', {'button_label': 'Valider'}) }}

    {% include 'commons/show-form-action.html.twig' with {
        'confirm_string': 'Voulez-vous vraiment supprimer ce vélo?', 
        'delete_path': 'electric_crud_delete',
        'entity_id': electric.id
        }
    %}
{% endblock %}
