{% extends 'base.html.twig' %}

{% block title %}New Electric{% endblock %}

{% block body %}
<a href="{{ path('velos') }}" class="link"><i class="fas fa-arrow-left mr-2"></i>Retour</a>

    <h1>Ajouter un vélo électrique</h1>

    {{ include('commons/admin-edit-add-form.html.twig', {'button_label': 'Valider'}) }}

{% endblock %}
