{% extends 'base.html.twig' %}

{% block title %}Edit Sommet{% endblock %}

{% block body %}
    <h1>Edit Sommet</h1>

    {{ include('admin/sommet_crud/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('sommet_crud_index') }}">back to list</a>

    {{ include('admin/sommet_crud/_delete_form.html.twig') }}
{% endblock %}
