{% extends 'base.html.twig' %}

{% block title %}Sommet index{% endblock %}

{% block body %}
    {% include 'commons/table-title.html.twig' with {'title': 'Sommets', 'chemin': 'sommet_crud_new'} %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Altitude</th>
                <th>Lieu</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sommet in sommets %}
            <tr>
                <td>{{ sommet.id }}</td>
                <td>{{ sommet.nom }}</td>
                <td>{{ sommet.altitude }}</td>
                <td>{{ sommet.lieu }}</td>
                {% include 'commons/table-actions.html.twig' with {
                    'confirm_string': 'Voulez-vous vraiment supprimer ce sommet ?', 
                    'show_path': 'sommet_crud_show',
                    'edit_path': 'sommet_crud_edit',
                    'delete_path': 'sommet_crud_delete',
                    'entity_id': sommet.id
                    }
                %}
            </tr>
        {% else %}
            <tr>
                <td colspan="5">aucun sommet trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
