{% extends 'base.html.twig' %}

{% block title %}New Sommet{% endblock %}

{% block body %}
    <h1>Create new Sommet</h1>

    {{ include('admin/sommet_crud/_form.html.twig') }}

    <a href="{{ path('sommet_crud_index') }}">back to list</a>
{% endblock %}
