{% extends 'base.html.twig' %}

{% block title %}New Sommet{% endblock %}

{% block body %}
<a href="{{ path('sommet_crud_index') }}" class="link"><i class="fas fa-arrow-left mr-2"></i>Retour</a>
    <h1>Ajouter un sommet</h1>

    {{ include('commons/admin-edit-add-form.html.twig', {'button_label': 'Valider'}) }}


{% endblock %}
