{% extends 'base.html.twig' %}

{% block title %}New Velo{% endblock %}

{% block body %}
    <h1>Create new Velo</h1>

    {{ include('admin/velo_crud/_form.html.twig') }}

    <a href="{{ path('velo_crud_index') }}">back to list</a>
{% endblock %}
