{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Modifier l'utilisateur</h1>

    {{ include('admin/user_crud/_form.html.twig', {'button_label': 'Update'}) }}

    {% include 'commons/show-form-action.html.twig' with {
        'confirm_string': 'Voulez-vous vraiment supprimer cet utilisateur?', 
        'delete_path': 'user_crud_delete',
        'entity_id': user.id
        }
    %}
{% endblock %}
