{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
<a href="{{ path('user_crud_index') }}" class="link"><i class="fas fa-arrow-left mr-2"></i>Retour</a>
    <h1>Modifier l'utilisateur</h1>

    {{ include('commons/admin-edit-add-form.html.twig', {'button_label': 'Valider'}) }}

    {% include 'commons/show-form-action.html.twig' with {
        'confirm_string': 'Voulez-vous vraiment supprimer cet utilisateur?', 
        'delete_path': 'user_crud_delete',
        'entity_id': user.id
        }
    %}
{% endblock %}
