{% extends 'base.html.twig' %}

{% block title %}Edit Parcours{% endblock %}

{% block body %}
    <h1>Edit Parcours</h1>

    {{ include('admin/parcours_crud/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('parcours_crud_index') }}">back to list</a>

    {{ include('admin/parcours_crud/_delete_form.html.twig') }}
{% endblock %}
