{% extends 'base.html.twig' %}

{% block title %}New Parcours{% endblock %}

{% block body %}
    <h1>Create new Parcours</h1>

    {{ include('admin/parcours_crud/_form.html.twig') }}

    <a href="{{ path('parcours_crud_index') }}">back to list</a>
{% endblock %}
