{% extends 'base.html.twig' %}

{% block title %}Edit Sortie{% endblock %}

{% block body %}
<a href="{{ path('sortie_index') }}" class="link"><i class="fas fa-arrow-left mr-2"></i>Retour</a>

    <h1>Modifier la sortie</h1>

    {{ include('commons/edit-add-form.html.twig', {'button_label': 'Valider'}) }}
{% endblock %}
