/* @import "~bootstrap/scss/bootstrap"; */
@import "../../node_modules/bootstrap";
@import '~@fortawesome/fontawesome-free/css/all.css';

body {
    background-color: #ECECEC;
}

.btn.btn-icon > i{
    margin-left: 10px;
}

.navbar-logo {
    width: 50px;
    height: 50px;
    align-self: flex-start;
}

.navbar-title {
    text-decoration: none;
    font-size: 20px;
    color: #212529;
}

.navbar-title:hover {
    text-decoration: none;
    color: #212529;
}

.table-title{
    font-size: 16px;
}
.table-title:hover{
    text-decoration: none;
}

/* ADMIN */
.card {
    width: 100%;
    margin-bottom: 30px;
}

.table {
    background: #FFF;
}

.table-image {
    width: 40px;
    height: 40px;
}

.table-actions {
   border: 0;
   display: flex;
}


.table-actions .btn{
    padding: 0 5px;
}

.table-actions .btn:hover{
    border: 1px solid;
}

.admin-forms form label{
    display: block;
}

.admin-forms form input, .admin-forms form select.selector{
    display: block;
    border: 0;
    height: 30px;
    min-width: 250px;
    margin-bottom: 15px;
}

.admin-forms form select.selector-multiple{
    display: block;
    border: 0;
    height: auto;
    min-width: 250px;
    margin-bottom: 15px;
}

.admin-forms form .form-helper{
    font-size: 12px;
    margin-top: -10px;
}

.color-green-primary{
    color :#558b2f;
}
.color-green-dark{
    color : #255d00;
}
.color-green-light{
    color : #85bb5c;
}


.color-brow-primary{
    color : #827717;
}

.color-brow-dark{
    color : #524c00;
}

.color-brow-light{
    color : #b4a647;
}

.color-blue-primary{
    color : #006064;
}
.color-blue-light{
    color : #428e92;
}
.color-blue-dark{
    color : #00363a;
}

.color-red-primary{
    color : #d84315;
}
.color-red-light{
    color : #ff7543;
}
.color-red-dark{
    color: #9f0000;
}

.bgcolor-green-primary{
    background-color :#558b2f;
}
.bgcolor-green-dark{
    background-color : #255d00;
}
.bgcolor-green-light{
    background-color : #85bb5c;
}


.bgcolor-brow-primary{
    background-color : #827717;
}

.bgcolor-brow-dark{
    background-color : #524c00;
}

.bgcolor-brow-light{
    background-color : #b4a647;
}

.bgcolor-blue-primary{
    background-color : #006064;
}
.bgcolor-blue-light{
    background-color : #428e92;
}
.bgcolor-blue-dark{
    background-color : #00363a;
}


.bgcolor-red-primary{
    background-color : #d84315;
}
.bgcolor-red-light{
    background-color : #ff7543;
}
.bgcolor-red-dark{
    background-color: #9f0000;
}

.pointer{
    cursor : pointer;
}