{% extends 'base.html.twig' %}

{% block title %}New Parcours{% endblock %}

{% block body %}
<a href="{{ path('parcours_index') }}" class="link"><i class="fas fa-arrow-left mr-2"></i>Retour</a>
    <h1>Ajouter un parcours</h1>

    {{ include('commons/admin-edit-add-form.html.twig', {'button_label': 'Valider'}) }}

{% endblock %}
