{% extends 'base.html.twig' %}

{% block title %}Sortie index{% endblock %}

{% block body %}
    {% include 'commons/table-title.html.twig' with {'title': 'Sortie', 'chemin': 'sortie_crud_new'}%}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Date_sortie</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.id }}</td>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateSortie ? sortie.dateSortie|date('d/m/Y à H:i') : '' }}</td>
                <td>{{ sortie.status == 1 ? 'Programmée' : 'Terminée'  }}</td>
                {% include 'commons/table-actions.html.twig' with {
                    'confirm_string': 'Voulez-vous vraiment supprimer cette sortie ?', 
                    'show_path': 'sortie_crud_show',
                    'edit_path': 'sortie_crud_edit',
                    'delete_path': 'sortie_crud_delete',
                    'entity_id': sortie.id
                    }
                %}
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
