<form method="post" action="{{ path('velo_delete', {'id': velo.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ velo.id) }}">
    <button class="btn">Delete</button>
</form>
