{% extends 'base.html.twig' %}

{% block title %}Edit VTT{% endblock %}

{% block body %}
    <h1>Edit VTT</h1>

    {{ include('vtt/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('vtt_index') }}">back to list</a>

    {{ include('vtt/_delete_form.html.twig') }}
{% endblock %}
