{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
{% set url = app.request.attributes.get('_route')  %}
            {% if 'add_friend' in url %}
                <h1>Ajouter des amis</h1>
            {% else %}
                <h1>Modifier l'utilisateur</h1>
            {% endif %}

    {{ include('commons/edit-add-form.html.twig', {'button_label': 'Valider'}) }}
{% endblock %}
